<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="/css/jumbotron.css" rel="stylesheet">
    <title>Student Board!</title>
</head>

<!-- headers.html으로 표현하여 오류 발생하였음. 가져오는것이 header라는 파일에서 가져오는 것이기 때문에 적을 떄 정확하게 입력하주어야 한다.-->